<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
    <title>Toytown</title>
  </head>
  <body>
    <div id="all" ng-controller="GameCtrl as ctrl">
      <canvas id="canvas" width="500" height="300"></canvas>
      <div class="triangle topleft"></div>
      <div class="triangle topright"></div>
      <div class="triangle bottomleft"></div>
      <div class="triangle bottomright"></div>
      <div class="corner topleft ng-cloak">
        <h1>TOYTOWN</h1>

        <div class="buttongroup">
          <label class="button build house" ng-class="{selected: build == 'HOUSE'}" title="Build houses (Ŧ {{ctrl.buildCost('HOUSE')}})" ng-click="ctrl.assets.click.play()" offable>
            <input type="radio" name="build" value="HOUSE" ng-model="build"/>
          </label>
          <label class="button build office" ng-class="{selected: build == 'OFFICE'}" title="Build offices (Ŧ {{ctrl.buildCost('OFFICE')}})" ng-click="ctrl.assets.click.play()" offable>
            <input type="radio" name="build" value="OFFICE" ng-model="build"/>
          </label>
          <label class="button build road" ng-class="{selected: build == 'ROAD'}" title="Build roads (Ŧ {{ctrl.buildCost('ROAD')}})" ng-click="ctrl.assets.click.play()" offable>
            <input type="radio" name="build" value="ROAD" ng-model="build"/>
          </label>
          <label class="button build destroy" ng-class="{selected: build == 'GRASS'}" title="Destroy buildings (Ŧ {{ctrl.buildCost('GRASS')}})" ng-click="ctrl.assets.click.play()" offable>
            <input type="radio" name="build" value="GRASS" ng-model="build"/>
          </label>
        </div>

        <a href="" ng-click="ctrl.reset()">Restart</a>

        <div class="buttongroup">
          <label class="button speed speed0" ng-class="{selected: speed == 0}" title="Pause">
            <input type="radio" name="speed" value="0" ng-model="speed"/>
          </label>
          <label class="button speed speed1" ng-class="{selected: speed == 1}" title="Turtle speed">
            <input type="radio" name="speed" value="1" ng-model="speed"/>
          </label>
          <label class="button speed speed2" ng-class="{selected: speed == 2}" title="Llama speed">
            <input type="radio" name="speed" value="2" ng-model="speed"/>
          </label>
          <label class="button speed speed3" ng-class="{selected: speed == 3}" title="Cheetah speed">
            <input type="radio" name="speed" value="3" ng-model="speed"/>
          </label>
        </div>

        {{ctrl.city.month()}} {{ctrl.city.year()}}
      </div>
      <div class="corner topright ng-cloak">
        <div ng-if="ctrl.highlightedCell">
          Inhabitants: {{ctrl.highlightedCell.population | number}}<br>
          Employed: {{ctrl.highlightedCell.employers | number}}<br>
          Capacity: {{ctrl.highlightedCell.maxPopulation() | number}}<br>
          Employees: {{ctrl.highlightedCell.employees | number}}<br>
          Jobs offered: {{ctrl.highlightedCell.maxJobs() | number}}<br>
          Traffic: {{ctrl.highlightedCell.traffic / 250 * 100 | number:0}}%<br>
          Commute: {{ctrl.highlightedCell.commuteTime | number:0}} min<br>
          Pollution: {{ctrl.highlightedCell.pollution * 100 | number:0}}%<br>
          Housing desirability: {{ctrl.highlightedCell.houseDesirability * 100 | number:0}}%<br>
          Office desirability: {{ctrl.highlightedCell.officeDesirability * 100 | number:0}}%<br>
          <br>
          Houseness: {{ctrl.highlightedCell.houseness | number:2}}<br>
          Officeness: {{ctrl.highlightedCell.officeness | number:2}}<br>
        </div>
      </div>
      <div class="corner bottomleft ng-cloak">
        <span ng-click="ctrl.steal()" ng-class="{'cash-flashing': ctrl.cashFlashing}">
          Cash: Ŧ&nbsp;{{ctrl.city.cash | number}}
        </span><br>
        Tax rate: <input type="number" ng-model="ctrl.city.taxRate" min="5" max="50" step="1" value="20"></input>%<br>
        Tax income: Ŧ {{ctrl.city.taxIncome | number}}<br>
        Road maintenance: Ŧ {{ctrl.city.roadMaintenanceCost | number}}<br>
        Cashflow: Ŧ {{ctrl.city.cashflow | number}}<br>
        <br>
        Jobs: {{ctrl.city.jobs | number}}<br>
        Employments: {{ctrl.city.employments | number}}<br>
        Population: {{ctrl.city.population | number}}<br>
        <br>
        Housing demand: {{ctrl.city.housingDemand * 100 | number:0}}%<br>
        Offices demand: {{ctrl.city.officesDemand * 100 | number:0}}%
      </div>
      <div class="corner bottomright ng-cloak">
        <span ng-mouseenter="ctrl.overlay = 'OCCUPANCY'" ng-mouseleave="ctrl.overlay = null">Occupancy</span><br>
        <span ng-mouseenter="ctrl.overlay = 'UNEMPLOYMENT'" ng-mouseleave="ctrl.overlay = null">Unemployment: {{ctrl.city.unemployment * 100 | number:0}}%</span><br>
        <span ng-mouseenter="ctrl.overlay = 'VACANCY'" ng-mouseleave="ctrl.overlay = null">Vacancies</span><br>
        <span ng-mouseenter="ctrl.overlay = 'TRAFFIC'" ng-mouseleave="ctrl.overlay = null">Traffic</span><br>
        <span ng-mouseenter="ctrl.overlay = 'COMMUTE'" ng-mouseleave="ctrl.overlay = null">Commute time: {{ctrl.city.commuteTime | number:0}} min</span><br>
        <span ng-mouseenter="ctrl.overlay = 'POLLUTION'" ng-mouseleave="ctrl.overlay = null">Pollution: {{ctrl.city.pollution * 100 | number:0}}%</span><br>
        <span ng-mouseenter="ctrl.overlay = 'HOUSING_DESIRABILITY'" ng-mouseleave="ctrl.overlay = null">Housing desirability</span><br>
        <span ng-mouseenter="ctrl.overlay = 'OFFICE_DESIRABILITY'" ng-mouseleave="ctrl.overlay = null">Office desirability</span>
      </div>
    </div>
    <footer>
      Toytown is an <a href="http://www.ludumdare.com/compo/ludum-dare-31/?action=preview&uid=7882">entry</a> for the <a href="http://ludumdare.com/compo/">Ludum Dare</a> <a href="http://www.ludumdare.com/compo/ludum-dare-31/">31</a> Compo by <a href="http://twitter.com/frozenfractal">@frozenfractal</a>.
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="howler.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
