<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
    <title>Toytown</title>
  </head>
  <body>
    <div id="all" ng-controller="GameCtrl as ctrl">
      <canvas id="canvas" width="500" height="300"></canvas>
      <div class="triangle topleft"></div>
      <div class="triangle topright"></div>
      <div class="triangle bottomleft"></div>
      <div class="triangle bottomright"></div>
      <div class="corner topleft ng-cloak">
        <h1>TOYTOWN</h1>

        <div class="buttongroup topline1">
          <label class="button build house" ng-class="{selected: build == 'HOUSE'}" title="Build houses (Ŧ {{ctrl.buildCost('HOUSE')}})" ng-click="ctrl.assets.click.play()" offable>
            <input type="radio" name="build" value="HOUSE" ng-model="build"/>
          </label>
          <label class="button build office" ng-class="{selected: build == 'OFFICE'}" title="Build offices (Ŧ {{ctrl.buildCost('OFFICE')}})" ng-click="ctrl.assets.click.play()" offable>
            <input type="radio" name="build" value="OFFICE" ng-model="build"/>
          </label>
          <label class="button build road" ng-class="{selected: build == 'ROAD'}" title="Build roads (Ŧ {{ctrl.buildCost('ROAD')}})" ng-click="ctrl.assets.click.play()" offable>
            <input type="radio" name="build" value="ROAD" ng-model="build"/>
          </label>
          <label class="button build destroy" ng-class="{selected: build == 'GRASS'}" title="Destroy buildings (Ŧ {{ctrl.buildCost('GRASS')}})" ng-click="ctrl.assets.click.play()" offable>
            <input type="radio" name="build" value="GRASS" ng-model="build"/>
          </label>
        </div>

        <div class="buttongroup topline2">
          <label class="button speed speed0" ng-class="{selected: speed == 0}" title="Pause">
            <input type="radio" name="speed" value="0" ng-model="speed"/>
          </label>
          <label class="button speed speed1" ng-class="{selected: speed == 1}" title="Turtle speed">
            <input type="radio" name="speed" value="1" ng-model="speed"/>
          </label>
          <label class="button speed speed2" ng-class="{selected: speed == 2}" title="Llama speed">
            <input type="radio" name="speed" value="2" ng-model="speed"/>
          </label>
          <label class="button speed speed3" ng-class="{selected: speed == 3}" title="Cheetah speed">
            <input type="radio" name="speed" value="3" ng-model="speed"/>
          </label>
        </div>

        <div class="big date">
          {{ctrl.city.month()}} {{ctrl.city.year()}}
        </div>

        <a class="restart" href="" ng-click="ctrl.reset()">Restart</a>
      </div>
      <div class="corner topright ng-cloak" ng-if="ctrl.highlightedCell">
        <h2 class="celltype">{{ ['?', 'Grass', 'House', 'Office', 'Road', 'Trees'][ctrl.highlightedCell.type] }}</h2>
        <dl>
          <dt>Traffic</dt>
          <dd>{{ctrl.highlightedCell.traffic / 250 * 100 | number:0}}%</dd>
          <dt>Pollution</dt>
          <dd>{{ctrl.highlightedCell.pollution * 100 | number:0}}%</dd>
          <dt>Housing desirability</dt>
          <dd>{{ctrl.highlightedCell.houseDesirability * 100 | number:0}}%</dd>
          <dt>Office desirability</dt>
          <dd>{{ctrl.highlightedCell.officeDesirability * 100 | number:0}}%</dd>
        </dl>
        <div class="spacetop" ng-switch="ctrl.highlightedCell.type">
          <dl ng-switch-when="2">
            <dt>Inhabitants</dt>
            <dd>{{ctrl.highlightedCell.population | number}}</dd>
            <dt>Capacity</dt>
            <dd>{{ctrl.highlightedCell.maxPopulation() | number}}</dd>
            <dt>Employed</dt>
            <dd>{{ctrl.highlightedCell.employers | number}}</dd>
            <dt>Commute</dt>
            <dd>{{ctrl.highlightedCell.commuteTime | number:0}} min</dd>
          </dl>
          <dl ng-switch-when="3">
            <dt>Employees</dt>
            <dd>{{ctrl.highlightedCell.employees | number}}</dd>
            <dt>Jobs offered</dt>
            <dd>{{ctrl.highlightedCell.maxJobs() | number}}</dd>
            <dt>Jobs filled</dt>
            <dd>{{ctrl.highlightedCell.employees | number}}</dd>
          </dl>
        </div>
      </div>
      <div class="corner bottomleft ng-cloak">
        <div ng-click="ctrl.steal()" class="big">
          Cash:<br>
          <span ng-class="{'cash-flashing': ctrl.cashFlashing}">Ŧ&nbsp;{{ctrl.city.cash | number}}</span>
        </div>
        <br>
        <div>
          Tax rate:
          <input type="number" ng-model="ctrl.city.taxRate" min="5" max="50" step="1" value="20"></input>%
        </div>
        <dl>
          <dt>Tax income</dt>
          <dd>Ŧ {{ctrl.city.taxIncome | number}}</dd>
          <dt>Road maintenance</dt>
          <dd>Ŧ {{-ctrl.city.roadMaintenanceCost | number}}</dd>
          <dt class="sumline">Cashflow</dt>
          <dd class="sumline">Ŧ {{ctrl.city.cashflow | number}}</dd>
        </dl>
        <h2>Demand <small>(hover for desirability overlay)</small></h2>
        <dl>
          <dt overlay="HOUSING_DESIRABILITY">Housing demand</dt>
          <dd overlay="HOUSING_DESIRABILITY">{{ctrl.city.housingDemand * 100 | number:0}}%</dd>
          <dt overlay="OFFICE_DESIRABILITY">Offices demand</dt>
          <dd overlay="OFFICE_DESIRABILITY">{{ctrl.city.officesDemand * 100 | number:0}}%</dd>
        </dl>
      </div>
      <div class="corner bottomright ng-cloak">
        <dl class="big jobspop">
          <dt>Jobs</dt>
          <dd>{{ctrl.city.jobs | number}}</dd>
          <dt>Population</dt>
          <dd>{{ctrl.city.population | number}}</dd>
        </dl>
        <h2>Statistics <small>(hover for data overlay)</small></h2>
        <dl>
          <dt overlay="OCCUPANCY">Occupancy</dt>
          <dd overlay="OCCUPANCY">{{ctrl.city.occupancy * 100 | number:0}}%</dd>
          <dt overlay="EMPLOYMENT">Employment</dt>
          <dd overlay="EMPLOYMENT">{{ctrl.city.employment * 100 | number:0}}%</dd>
          <dt overlay="VACANCY">Jobs filled</dt>
          <dd overlay="VACANCY">{{ctrl.city.jobsFilled * 100 | number:0}}%</dd>
          <dt overlay="TRAFFIC">Traffic</dt>
          <dd overlay="TRAFFIC">{{ctrl.city.traffic / 250 * 100 | number:0}}%</dd>
          <dt overlay="COMMUTE">Commute time</dt>
          <dd overlay="COMMUTE">{{ctrl.city.commuteTime | number:0}} min</dd>
          <dt overlay="POLLUTION">Pollution</dt>
          <dd overlay="POLLUTION">{{ctrl.city.pollution * 100 | number:0}}%</dd>
        </dl>
      </div>
    </div>
    <footer>
      Toytown is an <a href="http://www.ludumdare.com/compo/ludum-dare-31/?action=preview&uid=7882">entry</a> for the <a href="http://ludumdare.com/compo/">Ludum Dare</a> <a href="http://www.ludumdare.com/compo/ludum-dare-31/">31</a> Compo by <a href="http://twitter.com/frozenfractal">@frozenfractal</a>.
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="howler.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
