@import 'bourbon';

$hpadding: 2rem;
$vpadding: 1.5rem;
$borderColor: #334;

* {
  @include box-sizing(border-box);
  outline: 0;
}

html {
  background: #223;
  color: #ffd;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1em;
  line-height: 2rem;
  text-shadow: 2px 2px 4px #000;
  margin: 0;
  padding: 1rem 0;
  border-top: 1px solid $borderColor;
  width: 36rem;
}

.topline1 {
  padding: 1rem 0;
  border-top: 1px solid $borderColor;
  width: 27.5rem;
}

.topline2 {
  padding: 1rem 0;
  border-top: 1px solid $borderColor;
  width: 15rem;
}

.date {
  margin-top: -0.5rem;
}

.big {
  font-size: 140%;
}

.restart {
  display: block;
  margin-top: 0.4rem;
  font-size: 80%;
  opacity: 0.6;
}

@-webkit-keyframes flash {
  0% {color: white;}
  50% {color: white;}
  51% {color: red;}
  100% {color: red;}
}
.cash-flashing {
  -webkit-animation: flash 0.2s infinite;
}

.buttongroup {
  font-size: 0;
  & > * {
    font-size: 1rem;
  }
}

.button {
  display: inline-block;
  cursor: pointer;

  background-color: #445;

  &:hover {
    background-color: #556;
  }

  &.selected {
    background-color: #ddb;
  }
}

.build {
  width: 4.3rem;
  height: 4.3rem;
  box-shadow: 1px 1px 4px rgba(255,255,240,0.5) inset, -1px -1px 4px rgba(0,0,0,0.7) inset;
  background-image: url(buttons.png);
  background-size: 400% 100%;

  &.selected {
    box-shadow: -2px -2px 4px rgba(255,255,240,0.5) inset, 2px 2px 4px rgba(0,0,0,0.7) inset;
  }
}

.house { background-position: 0 0; border-radius: 0.5rem 0 0 0.5rem; }
.office { background-position: -100% 0; }
.road { background-position: -200% 0; }
.destroy { background-position: -300% 0; border-radius: 0 0.5rem 0.5rem 0; margin-left: 0.5rem }

.speed {
  width: 3rem;
  height: 2rem;
  background-image: url(speed.png);
  background-size: 400% 100%;
  box-shadow: 1px 1px 2px rgba(255,255,240,0.2) inset, -1px -1px 2px rgba(0,0,0,0.5) inset;

  &:active {
    box-shadow: -1px -1px 2px rgba(255,255,240,0.5) inset, 1px 1px 2px rgba(0,0,0,0.7) inset;
  }

  &.selected {
    box-shadow: -1px -1px 2px rgba(255,255,240,0.5) inset, 1px 1px 2px rgba(0,0,0,0.7) inset;
  }
}

.speed0 { background-position: 0 -300%; border-radius: 0.5rem 0 0 0.5rem; }
.speed1 { background-position: -100% -300%; }
.speed2 { background-position: -200% -300%; }
.speed3 { background-position: -300% -300%; border-radius: 0 0.5rem 0.5rem 0; }

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

h2 {
  font-weight: bold;
  font-size: 120%;
  text-align: right;
  margin: 1rem 0 0.2rem;
}

.celltype {
  position: absolute;
  top: $vpadding;
  margin-top: 0;
  padding-top: 0;
  height: 7rem;
  right: 23rem;
  border-right: 1px solid $borderColor;
  padding: 0 4rem 0;
}

.spacetop {
  margin-top: 0.4rem;
}

.stats {
  margin: 0 0 2rem;
  padding: 0 0 2rem;
  border-bottom: 1px solid $borderColor;
}

.tutorial {
  position: absolute;
  left: 0;
  right: 0;
  top: 9rem;
  margin: 0 30rem;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.3);
  font-size: 120%;
  letter-spacing: 0.05em;
  line-height: 140%;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
}

small {
  font-weight: normal;
}

.overlay {
  cursor: default;
  &:hover {
    text-shadow: 0 0 3px #ffb;
  }
}

.jobspop {
  position: absolute;
  right: 22rem;
  bottom: $vpadding;
  padding-right: 1.5rem;
  padding-top: 5rem;
  border-right: 1px solid $borderColor;
  dt {
    width: 6em;
    text-align: right;
  }
  dd {
    margin-left: 6em;
  }
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  display: block;
  float: left;
  width: 12em;
  &:after {
    content: ':';
  }
}

dd {
  display: block;
  margin-left: 12em;
  min-width: 4em;
  text-align: right;
}

.sumline {
  border-top: 1px solid $borderColor;
}

#all {
  position: relative;
  margin: auto;
}

#canvas {
}

.corner {
  position: absolute;
  padding: $vpadding $hpadding;
}
.triangle {
  position: absolute;
  display: block;
  content: '';
  border-style: solid;
  width: 0;
  height: 0;
}

$cornerWidth: 45rem;
$cornerHeight: 22.5rem;
$cornerColor: #112;

.topleft {
  top: 0;
  left: 0;
}
.triangle.topleft {
  border-width: $cornerHeight $cornerWidth 0 0;
  border-color: $cornerColor transparent transparent transparent;
}

.topright {
  top: 0;
  right: 0;
}
.triangle.topright {
  border-width: 0 $cornerWidth $cornerHeight 0;
  border-color: transparent $cornerColor transparent transparent;
}

.bottomleft {
  bottom: 0;
  left: 0;
}
.triangle.bottomleft {
  border-width: $cornerHeight 0 0 $cornerWidth;
  border-color: transparent transparent transparent $cornerColor;
}

.bottomright {
  bottom: 0;
  right: 0;
}
.triangle.bottomright {
  border-width: 0 0 $cornerHeight $cornerWidth;
  border-color: transparent transparent $cornerColor transparent;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #445;
  text-align: center;
  font-size: 11px;
  padding-bottom: 3px;
  a {
    color: #556;
  }
  a:hover {
    color: #778;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
