@import 'bourbon';

* {
  @include box-sizing(border-box);
}

html {
  background: #223;
  color: #ffd;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

#all {
  position: relative;
  margin: auto;
}

#canvas {
}

.corner {
  z-index: 0;
  position: absolute;
  width: 50rem;
  height: 30rem;
  padding: 1.5rem 2.5rem;
}
.corner:before {
  z-index: -1;
  position: absolute;
  display: block;
  content: '';
  border-style: solid;
  border-color: red;
  width: 0;
  height: 0;
}

$cornerWidth: 45rem;
$cornerHeight: 22.5rem;
$cornerColor: #112;

.topleft, .topleft:before {
  top: 0;
  left: 0;
}
.topleft:before {
  border-width: $cornerHeight $cornerWidth 0 0;
  border-color: $cornerColor transparent transparent transparent;
}

.topright, .topright:before {
  top: 0;
  right: 0;
}
.topright:before {
  border-width: 0 $cornerWidth $cornerHeight 0;
  border-color: transparent $cornerColor transparent transparent;
}

.bottomleft, .bottomleft:before {
  bottom: 0;
  left: 0;
}
.bottomleft:before {
  border-width: $cornerHeight 0 0 $cornerWidth;
  border-color: transparent transparent transparent $cornerColor;
}

.bottomright, .bottomright:before {
  bottom: 0;
  right: 0;
}
.bottomright:before {
  border-width: 0 0 $cornerHeight $cornerWidth;
  border-color: transparent transparent $cornerColor transparent;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #445;
  text-align: center;
  font-size: 11px;
  padding-bottom: 3px;
  a {
    color: #556;
  }
  a:hover {
    color: #778;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
